.body{
    color: #2b2b2bfd;
    width: 100%;
    padding-left: 5rem;
    height: 100vh;
    position: relative;
    top: 0;
    transition: all .5s ease;
    background: #fafafa;
}

.body-trimed{
    width: 100%;
    padding-left: 16.5625rem;
}

.body-md-screen{
    width: 100%;
    padding-left: 5rem;
}